<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nav</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between">

        <div >
            <a href="/todo">홈</a>
        </div>

        <div>
            {% if request.user.is_authenticated %}
            <div style="display: inline; margin-right: 10px">username : {{ request.user.username }}</div>
            <a href="{% url 'login' %}" style="display: inline; margin-right: 10px">로그인</a>
            <form action="{% url 'logout' %}", method="POST", style="display: inline; margin-right: 10px">
                {% csrf_token %}
                <button>로그아웃</button>
            </form>
        </div>

        <div>
            {% else %}
                <a href="{% url 'signup' %}" style="display: inline; margin-right: 10px">회원가입</a>
                <a href="{% url 'login' %}" style="display: inline; margin-right: 10px">로그인</a>
            {% endif %}
        </div>

    </div>
    {% block content %}{% endblock %}
</body>
</html>