{% extends 'base.html' %}
{% block content %}

    {% if request.user == todo.author %}
        <p style="text-align: right">
            <a href="{% url 'todo_update' todo.id%}">
                수정
            </a>
        </p>
        <form action="{% url 'todo_delete' todo.id %}" method="POST" style="text-align: right">
            {% csrf_token %}
            <button>삭제</button>
        </form>
    {% endif %}

    <h1>Id : {{ todo.id }}</h1>
    <hr>
    <h1>Title : {{ todo.title }}</h1>
    <hr>
    <h1>Des : {{ todo.description }}</h1>
    <hr>
    <h1>Start : {{ todo.start_date }}</h1>
    <hr>
    <h1>End : {{ todo.end_date }}</h1>
    <hr>
    <h1>Created : {{ todo.created_at }}</h1>
    <hr>
    <h1>Modified : {{ todo.modified_at }}</h1>
    <hr>
    <h1>Done : {{ todo.is_completed }}</h1>
    <hr>

{% endblock %}
