{% extends 'base.html' %}
{% block content %}

<div class="custom-container mt-lg-2">
    <h2>Comment</h2>
    <hr>
    <form method="POST" action="{% url 'comment_create' todo.id %}" class="d-flex justify-content-evenly align-items-center">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button class="btn btn-primary">댓글달기</button>
    </form>
    <ul class="list-unstyled" id="comment_wrapper">
    {% for comment in page_obj %}
        <li class="comment-list-item container-fluid">
            <div class="ps-2 d-flex justify-content-between align-items-center">
                <p class="mb-0">{{ comment.user }}</p>
                {% if request.user == comment.user or request.user.is_staff %}
                <div class="text-decoration-none a-group">
                    <form method="POST" action="{% url 'comment_delete' comment.id %}">
                        {% csrf_token %}
                        <div class="btn-group-sm">
                            <button class="btn btn-primary" type="button" onclick="modify_view({{ comment.id }})">수정하기</button>
                            <button type=submit class="btn btn-danger">삭제하기</button>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
            <hr>
            <div>
                <p class="p-lg-2">{{ comment.message }}</p>
                <p class="text-end">{{ comment.created_at }}</p>
            </div>
            <form id="comment_modify_form_{{ comment.id }}" style="display: none" method="POST" action="{% url 'comment_update' comment.id %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button class="btn btn-primary btn-sm">수정하기</button>
            </form>
        </li>
    {% endfor %}
    </ul>
    {% include 'pagination.html' with fragment='comment_wrapper' %}
</div>
<script>
    function modify_view(commentId) {
        const modifyForm = document.getElementById(`comment_modify_form_${commentId}`);
        if (modifyForm.style.display === "none") {
            modifyForm.style.display = ""
        } else if (modifyForm.style.display === "") {
            modifyForm.style.display = "none"
        }
    }
</script>
{% endblock %}
